notebooks/dlengie_final.ipynb
reports/wind-turbine-analysis.pdf
reports/dlengie_final.pdf
verify_config.py

.DS_Store
Thumbs.db

__pycache__/
*.py[cod]
*$py.class
*.so
.Python
*.log

.ipynb_checkpoints/
*/.ipynb_checkpoints/

.vscode/
.idea/
*.sublime-project
*.sublime-workspace

.env
.venv/
venv/
env/
ENV/
build/
dist/

/data/

models/*.keras
models/*.joblib