notebooks/dlengie_final.ipynb
reports/wind-turbine-analysis.pdf

.DS_Store
Thumbs.db

__pycache__/
*.py[cod]
*$py.class
*.so
.Python

.ipynb_checkpoints/
*/.ipynb_checkpoints/

.vscode/
.idea/
*.sublime-project
*.sublime-workspace

.venv/
venv/
env/
ENV/
build/
dist/

data/